[Unit]
Description=Librespot (an open source Spotify client)
Documentation=https://github.com/librespot-org/librespot
Documentation=https://github.com/librespot-org/librespot/wiki/Options
Wants=network.target sound.target
After=network.target sound.target

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/bin/librespot --name raspberrypi -b 320 -c ./cache --enable-volume-normalisation --initial-volume 75 --device-type avr

[Install]
WantedBy=default.target